*de421.bsp
*.pyc
.DS_store
.vscode
CodeCalibrationReportLM/images
CodeCalibrationReportLM/outputdata
CodeCalibrationReportLM/.*
Operational_analysis/commisioning/Lindas/images
Operational_analysis/commisioning/data
